@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-background: 243 247 251;
    --color-surface: 240 240 240;

    --color-foreground: 64 63 59;
    --color-muted: 128 125 126;

    --color-primary: 0 32 91;
    --color-secondary: 0 101 176;
    --color-accent: 242 169 0;

    --color-error: 210 30 30;
    --color-success: 22 163 74;

    --color-surface-variant: 236 236 236;
}

.dark:root {
    --color-background: 15 18 28;
    --color-surface: 25 28 40;

    --color-foreground: 255 255 255;
    --color-muted: 180 185 200;

    --color-primary: 0 101 176;
    --color-secondary: 120 150 255;
    --color-accent: 242 169 0;

    --color-error: 255 90 90;
    --color-success: 74 222 128;

    --color-surface-variant: 44 44 46;
}
